In [2]:
import pandas as pd

df = pd.read_csv('gunrate.csv')
df.head()

,Rank,Location,Gun suicide rate,Suicide rate,Gun homicide rate,Homicide rate,% gun at home
0,1,Wyoming,23.7,32.8,1.7,2.8,61.0
1,2,Montana,21.6,31.7,2.7,4.2,65.0
2,3,Alaska,19.4,30.0,4.2,6.7,57.0
3,4,New Mexico,14.4,25.2,10.9,14.5,36.0
4,5,Oklahoma,13.8,22.0,6.4,8.6,55.0

In [3]:
df.dtypes

Rank                   int64
Location              object
Gun suicide rate     float64
Suicide rate         float64
Gun homicide rate    float64
Homicide rate        float64
% gun at home        float64
dtype: object

In [4]:
df.describe()

,Rank,Gun suicide rate,Suicide rate,Gun homicide rate,Homicide rate,% gun at home
count,51.000000,51.000000,51.000000,49.000000,51.000000,50.000000
mean,26.000000,9.764706,17.088235,6.446939,7.847059,39.720000
std,14.866069,4.621118,5.626923,4.860346,5.788103,14.582685
min,1.000000,1.800000,6.900000,0.900000,1.100000,9.000000
25%,13.500000,7.650000,14.100000,2.900000,4.150000,35.250000
50%,26.000000,10.200000,16.100000,5.300000,6.700000,40.000000
75%,38.500000,12.100000,20.350000,8.100000,9.850000,52.000000
max,51.000000,23.700000,32.800000,25.200000,33.300000,65.000000

In [5]:
df["Gun homicide rate"].median()

np.float64(5.3)

In [6]:
minRow = df.iloc[df["Gun homicide rate"].idxmin()]
minRow

Rank                    19
Location             Maine
Gun suicide rate      11.5
Suicide rate          20.2
Gun homicide rate      0.9
Homicide rate          1.5
% gun at home         48.0
Name: 18, dtype: object

In [7]:
df_s = df.sort_values(by="Gun homicide rate")

In [8]:
df_s

,Rank,Location,Gun suicide rate,Suicide rate,Gun homicide rate,Homicide rate,% gun at home
18,19,Maine,11.5,20.2,0.9,1.5,48.0
49,50,Massachusetts,1.9,8.6,1.4,2.3,9.0
5,6,Idaho,13.8,20.4,1.5,2.2,58.0
46,47,Hawaii,2.9,14.0,1.6,2.7,9.0
0,1,Wyoming,23.7,32.8,1.7,2.8,61.0
27,28,Iowa,9.2,17.2,2.0,2.9,39.0
22,23,Utah,10.9,19.3,2.1,2.7,40.0
39,40,Nebraska,7.4,14.7,2.3,3.6,39.0
45,46,Rhode Island,3.3,10.7,2.5,3.7,14.0
6,7,North Dakota,13.2,20.1,2.6,3.1,53.0
1,2,Montana,21.6,31.7,2.7,4.2,65.0
21,22,South Dakota,10.9,22.7,2.8,5.0,55.0
40,41,Minnesota,6.9,14.2,2.9,4.1,39.0
48,49,New Jersey,2.1,7.4,3.0,4.4,9.0
47,48,New York,2.2,8.4,3.1,4.6,14.0
44,45,Connecticut,3.4,11.1,3.2,4.4,19.0
36,37,Washington,8.0,15.9,3.3,4.5,32.0
14,15,Oregon,11.9,20.9,3.4,4.8,41.0
2,3,Alaska,19.4,30.0,4.2,6.7,57.0
9,10,Colorado,12.8,23.8,4.7,6.3,38.0
43,44,California,4.0,10.6,4.7,6.4,16.0
10,11,West Virginia,12.7,21.0,4.8,6.4,60.0
16,17,Kansas,11.8,19.1,4.9,6.1,42.0
32,33,Wisconsin,8.2,15.3,4.9,5.9,47.0
28,29,Florida,8.9,15.4,5.3,6.7,29.0
33,34,Virginia,8.2,13.7,5.8,7.0,35.0
13,14,Arizona,12.1,20.3,5.9,7.7,36.0
7,8,Nevada,13.1,22.0,6.3,8.4,33.0
4,5,Oklahoma,13.8,22.0,6.4,8.6,55.0
37,38,Pennsylvania,7.7,14.5,6.6,8.5,40.0
30,31,Texas,8.6,14.2,6.6,8.1,36.0
34,35,Michigan,8.1,14.8,7.0,8.2,39.0
31,32,Ohio,8.4,15.0,7.4,8.7,42.0
25,26,Indiana,10.2,16.6,7.6,9.2,42.0
38,39,Delaware,7.6,13.7,8.0,10.3,39.0
15,16,Kentucky,11.8,18.1,8.1,9.0,53.0
29,30,North Carolina,8.7,13.7,8.1,9.4,37.0
8,9,Arkansas,12.9,20.4,9.3,11.1,52.0
24,25,Georgia,10.3,15.5,9.5,11.2,38.0
42,43,Maryland,5.0,10.1,9.6,11.5,17.0
12,13,Missouri,12.1,19.1,9.9,11.6,53.0
17,18,Tennessee,11.7,17.5,10.2,11.6,47.0
41,42,Illinois,5.2,11.5,10.2,11.7,23.0
23,24,South Carolina,10.5,15.5,10.7,12.6,45.0
3,4,New Mexico,14.4,25.2,10.9,14.5,36.0
11,12,Alabama,12.4,16.4,12.9,14.8,53.0
26,27,Louisiana,10.0,14.9,17.4,20.4,52.0
20,21,Mississippi,11.3,16.3,19.8,22.2,54.0
50,51,District of Columbia,1.8,6.9,25.2,33.3,NaN
19,20,Vermont,11.5,22.0,NaN,1.5,50.0
35,36,New Hampshire,8.0,16.1,NaN,1.1,46.0